
<header>
  <nav class="navbar navbar-default navbar-fixed-left">
    <app-name-and-pic [firstName]="profile.firstName"
                      [lastName]="profile.lastName"
                      [picUrl]="profile.profilePicUrl" [routes]="groupstopass"></app-name-and-pic>
    <app-date-and-time></app-date-and-time>
  </nav>


</header>

<section>

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <h2 style="background: linear-gradient(#b958b4, #4e58de);  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;">PSI* Joffre - Montpellier</h2>
    </div>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="panel">
          <div class="panel-heading">Kholles a venir</div>
          <div class="panel-body">
            <table class="table">
              <thead>
              <tr>
                <th>Date</th>
                <th>Heure</th>
                <th>Salle</th>
                <th>Groupe</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>16/02</td>
                <td>13h</td>
                <td>B01</td>
                <td>1</td>
              </tr>
              <tr>
                <td>19/02</td>
                <td>16h</td>
                <td>B04</td>
                <td>3</td>
              </tr>
              <tr>
                <td>19/02</td>
                <td>16h</td>
                <td>B04</td>
                <td>3</td>
              </tr>
              <tr>
                <td>16/02</td>
                <td>13h</td>
                <td>B01</td>
                <td>1</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="panel">
          <!--<div class="panel-heading">Direction</div>-->
          <div class="panel-body">
            <app-direction></app-direction>
          </div>
        </div>
      </div>

    </div>
    <div class="row top-container">

      <div *ngFor="let _group of groups"
           class="col-md-6">
        <div class="panel mark-panel" [routerLink]="_group.groupName">
          <div class="panel-heading">
            {{_group.groupName}}
          </div>
          <div class="panel-body">
            <table class="table">
              <thead>
              <tr>
                <th class="disp"></th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Moyenne</th>
              </tr>
              </thead>
            <tbody>
            <tr *ngFor="let _student of _group.students"
                 class="student-card-container">

              <td class="disp">
                <img [src]="_student.picUrl"
                     alt="profile-picture" class="table-img">
              </td>

              <td >
                {{_student.firstName}}
              </td>
              <td >
                {{_student.lastName}}
              </td>

              <td
                *ngIf="_student.average">
                {{_student.average}}
              </td>

            </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

