.kholle-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin: 1.5rem 1rem 0.5rem 1rem;

  font-weight: 300;
  font-size: 1.2rem;
}

.kholle-date span {
  font-weight: 600;
}

.kholle-card {
  margin: 0.4rem;
  padding: 0.2rem;
  overflow: scroll;
  /*display: inline-block;*/
}

.kholle-card>.card {
  min-width: 600px;
  display: inline-block;
}
