.kholeur-name {
  font-weight: bold;
}

.khole-mark {
  text-align: center;
  font-weight: normal;
  font-size: xx-large;
  padding-top: 5%;
}
.pull-right-comp {
  float : right;
}

@media screen and (max-width: 500px){
  .comp {
    float: left !important;
  }

}
