<header>
  <nav class="navbar navbar-default navbar-fixed-left">

    <app-name-and-pic [firstName]="profile.firstName"
                      [lastName]="profile.lastName"
                      [picUrl]="profile.profilePicUrl" [matieres]="groupstopass"></app-name-and-pic>
    <app-date-and-time></app-date-and-time>
  </nav>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="brand navbar-header">
        <div style="margin-top : 10px !important;">
          Groupe 1
        </div></div>
      <button class='btn btn-default btn-lg navbar-btn'   [routerLink]="'/kholleur/1'" ><span
        class="glyphicon glyphicon-arrow-left"> </span></button>
      <h3 class="pull-right disp"></h3>
    </div>
  </nav>
</header>

<section id="top">
  <div class="container">
    <app-kholle-group-detail></app-kholle-group-detail>
  </div>
</section>
