#header-lastname, #header-firstname {
  margin: 13px 0 0 5px;
}

#header-lastname {
  font-weight: 600
}

#name-and-pic-container {
  display: flex;
  flex-direction: row;
  /*text-align: center;*/
}

.no-margin {
  margin-right: 0px !important;
}

@media screen and (max-width: 500px){
  .inHeader#header-lastname, .inHeader#header-firstname {
    display: none;
  }
  .navbar-brand {
    display: none !important;
  }
  .img {
    display:none !important;
  }
  .profile-container{
    margin-top: 17px;
    max-height: 33px !important;
  }
  .profile-container hr{
    margin-top: 0px !important;

  }
  hr{
    margin-top: 0px !important;

  }

}

img {
  padding:5px;
  border-radius:50%;
  /*border: 3px solid #f5f5f5*/
}
.img-container {
  margin: 60px;
  margin-bottom: 20px;
  margin-top: 40px;
  border-radius: 50%;
  background: linear-gradient(#b958b4, #337bc1);
  border:10px transparent ;
}

.profile-container {
  text-align: center;
}

hr {
  border-top : 1px solid #e1dfe0;
  margin-left : 8px ;
  margin-right : 8px;

}
