<div class="container-fluid"><button type="button" class="navbar-toggle collapsed pull-left" data-toggle="collapse" data-target="#navbar"
                                     aria-expanded="false" aria-controls="navbar">
  <span class="sr-only">Toggle navigation</span>
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
</button>
</div>
<div id="navbar" class="navbar-collapse collapse">
  <div class="profile-container">
    <div class="img img-responsive img-container">
      <img [src]="picUrl" class="img img-responsive" alt>
    </div>
    <h4>
      {{firstName}} {{lastName}}
    </h4>
    <hr/>
  </div>
  <ul class="nav navbar-nav">

    <li *ngFor="let matiere of matieres"><a [routerLink]="'/student/'+matiere.matiere">{{matiere.matiere}}</a></li>


  </ul>

</div>
