<div class="row">
  <div class="col-lg-12">
    <label class="uploader" ondragover="return false;"
           [class.loaded]="loaded"
           [style.outlineColor]="dragging ? activeColor : baseColor"
           (dragenter)="handleDragEnter()"
           (dragleave)="handleDragLeave()"
           (drop)="handleDrop($event)">

      <input type="file" name="file"
             (change)="handleInputChange($event)">
      Deposez Vos fichiers ou cliquez ici pour importer un exercice.<br/> Vous devez importer un exercice pour debuter
      la colle.
    </label>
  </div>
  <br/>
  <div class="row">
    <div *ngIf="exercice!=undefined" ><div class="col-lg-8 " style="padding-left: 30px !important" ><h4><br/>Commencer la colle avec l'exercice {{exercice.name}} ?</h4> </div>
      <div class="col-lg-4 ">
      <button class="btn btn-default pull-right  btn-lg" (click)="startKhole()" style="padding-right: 30px !important" >Commencer<span></span></button>
      </div>
    </div>
  </div>
</div>
