<header>
  <nav class="navbar navbar-default navbar-fixed-left">
    <app-name-and-pic [matieres]="studentMarks" [firstName]="studentData.firstName"
                      [lastName]="studentData.lastName"
                      [picUrl]="studentData.profilePicUrl"></app-name-and-pic>
    <app-date-and-time></app-date-and-time>
  </nav>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <h2 style="background: linear-gradient(#b958b4, #4e58de);  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;">Bienvenue sur votre espace personnel</h2>
    </div>
  </nav>
</header>

<section>

  <div class="container">

    <div class="row top-container">

      <div *ngFor="let matiere of studentMarks"
           class="col-md-6">
        <app-matiere-card [matiere]="matiere.matiere"
                          [marks]="matiere.marks">
        </app-matiere-card>
      </div>

    </div>
  </div>
</section>
