<div class="row">
  <div class="container-fluid student-container">
    <div *ngFor="let _student of group?.students" (click)="this.selectedStudent = _student"
         [class.selected]="_student === selectedStudent"
         class="col-lg-4 student-tab">



      <img [src]="_student.picUrl" class="img-circle disp" alt>  {{_student.firstName}} {{_student.lastName}}
      <!--<app-name-and-pic [lastName]="_student.lastName"
                        [firstName]="_student.firstName"
                        [picUrl]="_student.picUrl"
                        [inHeader]="false">
      </app-name-and-pic>-->

    </div>
  </div>
</div>
<br/>
<app-student-detail *ngIf="selectedStudent"
                    [student]="selectedStudent">
</app-student-detail>

